/*鏍峰紡鍒濆鍖�*/
*{
	margin: 0;
	padding: 0;
	border: 0;
}
ul,ol,li{ 
	list-style: none;
}
body{
	font-size: 0.8rem;
	font-family: '寰蒋闆呴粦';
	letter-spacing: 0.01rem;
}
a{
	text-decoration: none;
}
.page{
	width: 100%;
}

/*forget  begin*/
.forget{
	width: 100%;
	height: 35rem;
	background-color: #f5f5f5;
}
.forget-cen{
	width: 70rem;
	height: 35rem;
	margin: 0 auto;
	position: relative;
}
/*phone begin*/
.phone{
	display: block;
	width: 70rem;
	height: 35rem;
	position: absolute;
	top: 0rem;
	left: 0rem;
}
.phone-iamge{
	width: 70rem;
	height: 6rem;
}
.phone-iamge-cen{
	width: 51rem;
	height: 6rem;
	margin: 0 auto;
}
.phone-iamge-cen img{
	width: 51rem;
	height: 6rem;
}
.phone-title{
	width: 70rem;
	height: 6rem;
}
.phone-title img{
	width: 2.5rem;
	height: 2.5rem;
	float: left;
	margin-top: 1.2rem;
}
.phone-title p{
	width: 25rem;
	height: 1.3rem;
	float: left;
	margin-top: 2rem;
	margin-left: 1rem;
	color: #333;
	font-size: 1.15rem;
	line-height: 1;
}
.phone-yanzheng{
	width: 70rem;
	height: 24rem;
}
.yanzheng-cen{
	width: 32.5rem;
	height: 24rem;
	margin: 0 auto;
}
.yanzheng-cen div{
	width: 32.5rem;
	height: 3.75rem;
}
.span-title{
	display: block;
	width: 7rem;
	height: 1.5rem;
	float: left;
	margin-top: 1.1rem;
	color: #333;
	font-size: 1.5rem;
	line-height: 1;
}
.fill-phone{
	width: 24rem;
	height: 3.4rem;
	float: left;
	margin-top: 0.2rem;
	margin-left: 1rem;
	padding-left: 1rem;
	color: #333;
	font-size: 1.5rem;
	line-height: 1;
	outline: none;
	border: 0.05rem solid #bfbfbf;
}
.fill-phone::-webkit-input-placeholder {
    font-size: 1.4rem;
    color: #ccc;
    line-height: 1;
}
.phone-msg{
	display: block;
	width: 25.5rem;
	height: 3rem;
	margin-left: 8rem;
	color: red;
	font-size: 1rem;
}
.yanzheng-cen .yanzheng_center_cen_bottom_msg{
	display: block;
	width: 24rem;
	height: 3rem;
	margin-left:8rem;
}
.yanzheng_center_cen_bottom_msg img{
	width: 1.5rem;
	height: 1.5rem;
	float: left;
}
.yanzheng_center_cen_bottom_msg p{
	width: 17rem;
	height: 2.5rem;
	float: left;
	margin-left: 0.7rem;
	margin-top: 0.35rem;
	color: #999;
	font-size: 0.8rem;
	line-height: 0.8rem;
}
.ma-button{
	width: 9.5rem;
	height: 3.4rem;
	background-color: #e8e8e8;
	float: left;
	margin-left: 1rem;
	margin-top: 0.2rem;
	border: 0.05rem solid #bfbfbf;
	color: #333;
	font-size: 1rem;
	cursor: pointer;
}
.fill-ma{
	width: 13.5rem;
	height: 3.4rem;
	float: left;
	margin-top: 0.2rem;
	margin-left: 1rem;
	padding-left: 1rem;
	color: #333;
	font-size: 1.5rem;
	line-height: 1;
	outline: none;
	border: 0.05rem solid #bfbfbf;
}
.fill-ma::-webkit-input-placeholder {
    font-size: 1.4rem;
    color: #ccc;
    line-height: 1;
}
.chongzhi{
	width: 24rem;
	height: 3.5rem;
	background-color: #1e8e66;
	margin-left: 8rem;
	color: #fff;
	font-size: 1.5rem;
	cursor: pointer;
}

/*phone end*/

/*update begin*/
.update{
	display: none;
	width: 70rem;
	height: 35rem;
	position: absolute;
	top: 0rem;
	left: 0rem;
}
.update-iamge{
	width: 70rem;
	height: 6rem;
}
.update-iamge-cen{
	width: 51rem;
	height: 6rem;
	margin: 0 auto;
}
.update-iamge-cen img{
	width: 51rem;
	height: 6rem;
}
.update-title{
	width: 70rem;
	height: 6rem;
}
.update-title p{
	width: 25rem;
	height: 1.5rem;
	float: left;
	margin-top: 1.8rem;
	margin-left: 20.7rem;
	color: #333;
	font-size: 1.5rem;
}
.update-password{
	width: 70rem;
	height: 24rem;
}
.password-cen{
	width: 41rem;
	height: 23rem;
	margin: 0 auto;
}
.password-xin{
	width: 41rem;
	height: 3.5rem;
}
.password-xin span{
	width: 10.5rem;
	height: 1.5rem;
	float: left;
	margin-top: 1rem;
	color: #333;
	font-size: 1.5rem;
	line-height: 1;
}
.password-xin input{
	width: 22rem;
	height: 3.5rem;
	background-color: #fff;
	float: left;
	margin-left: 1rem;
	padding-left: 1rem;
	outline: none;
	color: #333;
	font-size: 1.5rem;
	line-height: 1;
	border: 0.05rem solid #bfbfbf;
}
.password-xin input::-webkit-input-placeholder {
    font-size: 1.4rem;
    color: #ccc;
    line-height: 1;
}
.password-tishi{
	display: block;
	width: 25.5rem;
	height: 1.7rem;
	margin-left: 11.5rem;
	color: #ccc;
	font-size: 1rem;
}
.p-msg{
	display: block;
	width: 25.5rem;
	height: 1.7rem;
	margin-left: 11.5rem;
	color: red;
	font-size: 1rem;
}
.queren{
	width: 22rem;
	height: 3.5rem;
	background-color: #1e8e66;
	margin-left: 11.5rem;
	color: #fff;
	font-size: 1.3rem;
	cursor: pointer;
}
/*update end*/

/*success begin*/
.success{
	display: none;
	width: 70rem;
	height: 35rem;
	position: absolute;
	top: 0rem;
	left: 0rem;
}
.success-title{
	width: 70rem;
	height: 11.5rem;
}
.success-title img{
	width: 2.5rem;
	height: 2.5rem;
	float: left;
	margin-left: 3.75rem;
	margin-top: 3rem;
}
.success-title p{
	width: 10rem;
	height: 1.5rem;
	float: left;
	margin-left: 0.5rem;
	margin-top: 3.75rem;
	color: #333;
	font-size: 1.25rem;
	line-height: 1;
}
.success-content{
	width: 70rem;
	height: 8rem;
	background-color: #fff;
	border: 0.05rem solid #ccc;
}
.success-content img{
	width: 2.5rem;
	height: 2.5rem;
	float: left;
	margin-left: 30rem;
	margin-top: 2rem;
}
.success-content p{
	width: 10rem;
	height: 1.5rem;
	float: left;
	margin-left: 0.5rem;
	margin-top: 2.75rem;
	color: #333;
	font-size: 1.25rem;
	line-height: 1;
}

/*success end*/
/*forget  begin*/
