<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cofc.service.DescoveryRecommendService">
	<resultMap type="com.cofc.pojo.DescoveryRecommend" id="BaseResultMap">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="descovery_id" property="descoveryID" jdbcType="INTEGER" />
		<result column="application_id" property="applicationID" jdbcType="INTEGER" />
		<result column="descovery_type" property="descoveryType" jdbcType="INTEGER" />
		<result column="mark" property="mark" jdbcType="INTEGER" />
		<result column="desc" property="desc" jdbcType="VARCHAR" />
	</resultMap>
	
	<insert id="addDescoveryRecommend" parameterType="com.cofc.pojo.DescoveryRecommend">
		insert into tb_descovery_recommend(`id`, `descovery_id`, `application_id`, descovery_type, `mark`, `desc`)values(#{id}, #{descoveryID}, #{applicationID}, #{descoveryType}, #{mark}, #{desc})
	</insert>
	
	<update id="updateDescoveryRecommend" parameterType="com.cofc.pojo.DescoveryRecommend">
		update tb_descovery_recommend set descovery_type = #{descoveryType}, `mark` = #{mark} , `desc` = #{desc} where `id` = #{id}
	</update>
  
	<select id="findAllDescoveryID" resultType="int">
		select descovery_id from tb_descovery_common;
	</select>
	
	<select id="findAllApplicationID" resultType="int">
		select application_id from tb_application_common;
	</select>
	
	<select id="findAllDescoveryRecommend" resultType="String">
		select id from tb_descovery_recommend;
	</select>
	
	
</mapper>